If:
  PathExclude: ["./include/*" , "./subprojects/*"]
CompileFlags:
  Add: [-std=c++2c, -ferror-limit=0]
  CompilationDatabase: "./build/"
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
      modernize-*, 
      bugprone-*, 
      performance-*, 
      cppcoreguidelines-*,
      misc-*,
      zircon-temporary-objects
    ]
    Remove: [
      modernize-use-trailing-return-type, 
      bugprone-easily-swappable-parameters,
      cppcoreguidelines-pro-bounds-array-to-pointer-decay,
      misc-non-private-member-variables-in-classes,
      cppcoreguidelines-pro-bounds-pointer-arithmetic,
      cppcoreguidelines-pro-type-vararg,
      cppcoreguidelines-pro-type-reinterpret-cast,
      cppcoreguidelines-pro-type-union-access,
      performance-no-int-to-ptr
    ]
    
    CheckOptions:
      readability-identifier-naming.VariableCase: snake_case